.git
.github
node_modules
ancient-nerds-map/node_modules
ancient-nerds-map/dist
ancient-nerds-map/dist-old
data
*.pyc
__pycache__
.env
.env.*
!.env.example
logs
.venv
*.egg-info
.pytest_cache
.mypy_cache
bash.exe.stackdump
