*.geojson filter=lfs diff=lfs merge=lfs -text
public/data/sites/index.json filter=lfs diff=lfs merge=lfs -text
public/data/sites/details/*.json filter=lfs diff=lfs merge=lfs -text
ancient-nerds-map/public/data/sites/index.json filter=lfs diff=lfs merge=lfs -text
pipeline/data/wikidata_labels.json filter=lfs diff=lfs merge=lfs -text
